.project {
  width: 350px;
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
}
.project_img {
  margin-bottom: 20px;
}
.apple_gadgets {
  height: 300px;
  width: 100%;
  background-image: url('../../img/1.AppleGadgets.png');
  background-color: #cccccc00;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.apple_gadgets:hover {
  background-image: url('../../img/2.AppleGadgets.png');
}
.rehabilitacja_praktika {
  height: 300px;
  width: 100%;
  background-image: url('../../img/1rehabilitacja.png');
  background-color: #cccccc00;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.rehabilitacja_praktika:hover {
  background-image: url('../../img/2rehabilitacja.png');
}

.myBike {
  height: 300px;
  width: 100%;
  background-image: url('../../img/my_bike1.png');
  background-color: #cccccc00;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.myBike:hover {
  background-image: url('../../img/my_bike2.png');
}
.car_service {
  height: 300px;
  width: 100%;
  background-image: url('../../img/1car_service_title_bg.png');
  background-color: #cccccc00;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.car_service:hover {
  background-image: url('../../img/2car_service_title_bg.png');
}
.pdr_zbarzh {
  height: 300px;
  width: 100%;
  background-image: url('../../img/bike_store1.png');
  background-color: #cccccc00;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.pdr_zbarzh:hover {
  background-image: url('../../img/bike_store2.png');
}
.bike_store {
  height: 300px;
  width: 100%;
  background-image: url('../../img/bike_store1.png');
  background-color: #cccccc00;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.bike_store:hover {
  background-image: url('../../img/bike_store2.png');
}

.fullscreen_slider {
  height: 300px;
  width: 100%;
  background-image: url('../../img/1fullscreen_slider.png');
  background-color: #cccccc00;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.fullscreen_slider:hover {
  background-image: url('../../img/2fullscreen_slider.png');
}

.yoga {
  height: 300px;
  width: 100%;
  background-image: url('../../img/1yoga_bg.png');
  background-color: #cccccc00;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.yoga:hover {
  background-image: url('../../img/2yoga_bg.png');
}

.mogo_layout {
  height: 300px;
  width: 100%;
  background-image: url('../../img/Mogo_layout_1.0.png');
  background-color: #cccccc00;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.mogo_layout:hover {
  background-image: url('../../img/Mogo_layout_1.1.png');
}

.redux_todo {
  height: 300px;
  width: 100%;
  background-image: url('../../img/1react-redux-todo.png');
  background-color: #cccccc00;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.project:hover {
  transform: translateY(-7px);
}

.project__description {
  margin-top: 1em;
  height: 50px;
  overflow: hidden;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
  min-height: 97px;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project .link--icon {
  margin-left: 0.5em;
}
